.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: var(--dark-bg-color);
    color: white;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}