* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  --light-bg-color: #1f263c;
  --dark-bg-color: #161a2a;
  --blue-color: #2b5dff;
  --red-color: #ff3f6c;
  --green-color: #12d688;
  --dark-grey-color: #777777;
  --light-grey-color: #cfcfcf;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #646cff;
  transition: all 0.2s ease-in-out;
}
a:hover {
  opacity: 0.7;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  background-color: #646cff;
  color: white;
  transition: all 0.2s ease-in-out;
}
button:hover {
  opacity: 0.7;
}

input {
  padding: 0.8rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}